.layoutContainer {
  position: absolute;
  display: flex;

  height: 100%;
  width: 100%;

  background-color: black;

  .rightSide {
    height: 100%;

    width: calc(100% - 20em);

    position: absolute;
    right: 0;
    bottom: 0;

    .main {
      
      height: calc(100% - 10em);

      display: flex;
      text-align: center;
      justify-content: center;
    }
  }
}
