.container {
  position: relative;
  display: flex;

  height: 100%;

  .rightSide {
    height: 100%;

    width: calc(100% - 20em);

    position: absolute;
    right: 0;
    bottom: 0;

    .main {
      //  background-color: red;

      height: 44em;

      display: flex;
      text-align: center;
      justify-content: center;
    }
  }
}
