.welcomeContainer {
  display: flex;



  align-items: center;



  justify-content: center;

  height: 80%;

  p {
    font-family: "Alfa Slab One", cursive;
    color: var(--blue);
    font-weight: normal;
    font-size: 72px;
    line-height: 99px;
  }
}
