.profileContainer {
  // background-color: black;
  display: flex;

  height: 11.25rem;

  justify-content: flex-end;

  align-items: center;

  img {
    cursor: pointer;
    margin-right: 2rem;
    height: 129px;
    width: 129px;
  }

  .settings {
    position: absolute;

    width: 155px;
    height: 57px;

    top: 149px;
    right: 17px;

    display: flex;

    justify-content: center;
    background: #4b88e8;
    border-radius: 5px;

    button {
      margin: 0.5rem;

      width: 90%;
      height: 2.603rem;
      background: white;

      border-radius: 5px;

      cursor: pointer;

      p {
        font-family: 'Ubuntu', sans-serif;
        color: black;
      }
    }
  }
}
