* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root{
  --blue: #246ee3;
  --white: #ffffff;
  --lightBlue : rgba(36, 110, 227, 0.2);


}

body{
  /* height: 100vh; */
  height: 100%;
  width: 100%;
  background: #F4F4F4;

 
}

#root{
  height: 100%;
  width: 100%;
}


