

.employeeContainer{
  // border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  
  div{
    // background: blue;
    // border: yellow 1px solid;
    width: 100%;
    height: 3rem;
    

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .info{
    color: black;
  }
}