.profileContainer{
    // background-color: black;
  display: flex;

  height: 10.7rem;

  // justify-content: end;

  align-items: center;
  
  img{
    margin-right: 2rem;
    height: 129px;
    width: 129px;
  }
}