.container {
  background-color: red;

  width: 100%;
  height: calc(100vh - 10.7rem);

  font-family: "Alfa Slab One", cursive;

  color: var(--blue);

  display: flex;

  text-align: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    position: relative;
  }
}
