.welcomeContainer {
  display: flex;



  align-items: center;
  justify-content: center;

  p {
    font-family: "Alfa Slab One", cursive;
    color: var(--blue);
    // font-weight: 6rem;
    font-size: 3.5rem;
  }
}
