.headerContainer {
  height: 75px;
  background: #4b88e8;
  display: flex;
  align-items: center;

  .left {
    height: 100%;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }

  h1 {
    margin: auto;
    color: white;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
  }
}

.clientInfoContainer {
  background: white;
  height: calc(100% - 22rem);

  .infoContainer {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;

    padding-left: 9rem;
    margin-bottom: 1.5rem;

    &:first-of-type {
      padding-top: 2rem;
    }

    .chooseCotainer {
      display: flex;
    }
    .btnContainer {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: center;

      button {
        background: #4b88e8;
        border: none;

        height: 1.8rem;
        width: 13rem;
        border-radius: 25px;

        color: white;
        font-family: 'Ubuntu', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;

        cursor: pointer;

        &:hover {
          background-color: #4b88e8;
        }
      }
    }
  }
}
.btnPayContainer {
  display: flex;
  justify-content: center;
  
  align-items: center;

  height: 7.7rem;
  width: 100%;
  .btnPay {
    // display: flex;
    // justify-content: ;
    // align-items: center;
    // justify-self: center;
    width: 233px;
    height: 77px;
    background: #246ee3;
    border: none;
    border-radius: 25px;
    cursor: pointer;

    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    &:hover {
      background-color: #4b88e8;
    }
  }
}
