div {
  // width: 100%;
  // height: 100%;
  .formContainer {
    display: flex;
    flex-direction: column;

    // width: 556px;
    width: 34.75rem;
    // height: 558px;
    height: 34.875rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    // margin: auto;

    box-shadow: 2px 4px 8px 3px #246ee3;

    h1 {
      color: #246ee3;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 56px;
      line-height: 66px;
      display: flex;
      justify-content: center;

      // position: relative;
      // top:
      padding-top: 30px;
    }

    .invalidForm {
      // background-color: #ff0000;

      height: 50px;
      width: 431px;

  
      position: absolute;
      top: 100px;
      left: 50%;
      transform: translateX(-50%);

      background-color: rgba(255, 0, 0, 0.13);

      border: 2px solid #e84a4a;
      border-radius: 10px;
    
      display: flex;
      color:#e84a4a;
      align-items: center;


      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      padding-left: 14px;

    }

    .labelInputContainer {
      display: flex;
      flex-direction: column;
      // background-color: red;

      width: 431px;
      height: 100px;

      justify-content: center;
      // margin: auto;
      margin-left: auto;
      margin-right: auto;
      // padding-top: 10px;
      margin-top: 50px;
      // align-items: center;

      label {
        font-family: 'Roboto', sans-serif;
        color: #246ee3;
        font-size: 400;
        font-size: 24px;
        line-height: 28px;
      }

      input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #246ee3;
        background-color: transparent;
        font-size: 28px;

        // width: 20rem;
        width: 431px;
        height: 40px;

        &:focus {
          outline: none;
        }

        &:hover,
        &:focus {
          background-color: rgba(36, 110, 232, 0.06);
        }

        &::placeholder {
          color: #4b88e8;
        }
      }

      .invalidInput {
        background-color: rgba(255, 0, 0, 0.13);
        border-bottom: 2px solid #ff0000;

        color: #ff0000;

        &:focus {
          outline: none;
        }

        &:hover,
        &:focus {
          background: rgba(255, 0, 0, 0.13);
        }

        &::placeholder {
          color: #ff0000;
        }
      }
    }

    button {
      width: 166px;
      height: 48px;

      border: none;
      background-color: #246ee3;
      border-radius: 25px;

      font-family: 'Ubuntu', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: #ffffff;

      margin: auto;

      cursor: pointer;
    }
  }
}
