.tableContainer {
  max-height: 40rem;
  height: calc(40rem - 2rem);
  min-height: 38rem;

  width: 100%;
  font-family: "Ubuntu", sans-serif;
  background: white;

  .header {
    display: flex;

    height: 3rem;
    width: 100%;

    border: 2px solid var(--blue);

    .title {
      display: flex;
      width: 34rem;
      border: 2px solid var(--blue);

      text-align: center;
      align-items: center;
      justify-content: space-around;


    }

    .title:nth-child(-n + 2) {
      border-right: 2px solid var(--blue);
    }
  }
}





.btnContainer{
  height: 11em;


  display: flex;
  align-items: center;
  justify-content: center;




  @media only screen and (max-width: 1280px){
    height: 6.7em;
  }

  button {
    background: var(--blue);
    max-width: 600px;
    width: calc(600px - 15rem);
    min-width: 200px;
    height: 3em;
    border: none;
    border-radius: 13px;
    color: var(--white);

    font-size: 24px;

    cursor: pointer;

    &:hover{
      background: rgba(36,110,227,0.5);
      transition: all 0.3s ease-in-out;
    }

  }

}