.navLinksContainer {
  // background: red;
  width: 100%;

  li {
    font-family: "Ubuntu", sans-serif;

    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;

    display: flex;
    // background-color: red;

    justify-content: center;
    align-items: center;

    // border: 1px solid red;

    height: 5rem;
    // background: blue;
    width: 100%;
    color: white;

    user-select: none;
  }
}
