

// @media screen and(max-width: 1440px), screen and (max-height: 1024px){

.tableContainer {


  width: 100%;

  font-family: "Ubuntu", sans-serif;

  background: white;

  .header {
    display: flex;
    // background: red;

    height: 3rem;
    width: 100%;

    border: 2px solid var(--blue);

    .title {
      // background: red;

      display: flex;
      width: 54rem;
      // border: 2px solid var(--blue);

      text-align: center;
      align-items: center;
      justify-content: space-around;
    }

    .title:nth-child(-n + 1) {
      border-right: 2px solid var(--blue);
    }
  }
}





// }



